src/backend/api/routers/__pycache__/
src/backend/api/routers/tts/__pycache__/
src/backend/api/routers/tts/models/__pycache__/
src/backend/__pycache__/
src/backend/api/services/__pycache__/
src/backend/api/ttsModule/output/
src/.python-version
src/backend/api/__pycache__
src/backend/ttsModule/__pycache__
src/backend/.venv
src/data/agent/*
src/data/conversation/*
src/backend/promptBuilderModule/__pycache__
src/frontend/mirai-ui/node_modules
src/frontend/mirai-ui/package-lock.json
src/frontend/mirai-ui/public/model/*
src/frontend/mirai-ui/package.json
src/data/global_conversation
src/backend/api/tests/__pycache__/
src/backend/tests/__pycache__/
src/backend/tests/unit/__pycache__/
src/backend/tests/integration/__pycache__/
src/backend/tests/.venv/
src/backend/tests/voices/
src/backend/tests/manual/
src/backend/tests/README.md
src/backend/tests/setup_tests.py
.venv/
